@font-face {
   	font-family: 'Titillium';
   	font-style: normal;
   	font-weight: normal;
   	src: url("../fonts/Titillium/Titillium-Regular.otf");
}
@font-face {
   	font-family: "Century Gothic";
   	font-style: normal;
   	font-weight: normal;
   	src: url("../fonts/century-gothic/Century Gothic.ttf");
}

* {
	margin:0; padding:0;
}
html {
	font-family: "Century Gothic", "Titillium", sans-serif, serif;
	/*font-size: medium;*/
	width:100%;
	height:100%;
}
body {
	font-family: "Century Gothic", "Titillium", sans-serif, serif;
	/*font-size: medium;*/
	font-size: 15px;
	width:100%;
	height:97%;
}
label {
	font-size: 14px;
}
/*
#wrapper {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
*/
p {
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

h1 {
	font-weight: bold;
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 50px;
}

h2 {
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 0;
	margin-top: 0;
}

#contenido_pr {
	/*width:100%; */
	height:100%;
	overflow: auto;
} 
#fijo { 
	/*position:inherit;*/
	position: fixed;
	z-index: 99;
	left:0;
	top: 0;
}
.color-menu {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(81%, #f1f1f1), color-stop(95%, #efefef), color-stop(100%, #f6f6f6));
	background: -moz-linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	background: linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
}
.menu {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	margin-bottom: 0px;
	z-index: 100;
	top: 0;
	left: 0;
}



body {
	
	background: #e2e2e2;
	background: -moz-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, #e2e2e2), color-stop(50%, #dbdbdb), color-stop(51%, #d1d1d1), color-stop(100%, #fefefe));
	background: -webkit-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
	background: -o-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
	background: -ms-linear-gradient(-45deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
	background: linear-gradient(135deg, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
	background-image: url('../img/texturas/fabric_plaid/fabric_plaid.png');
	
}

input, select, #distancia {
	width: 100%;
	height: 30px;
}

.numero_corto {
    padding: 2px;
    text-align: center;
}
.numero_mediano {
	width: 80px;
    padding: 2px;
    text-align: center;
}

.result {
	text-align: center;
}

#btn_guardar, #btn_limpiar {
	width: 50%;
}

.img-btn {
	padding-left: 10px;
	padding-right: 10px;
}

.btn-style2 {
	color: #0000ff;
	width: 100%
	border-radius: 3px;
	moz-border-radius: 3px;

	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	
	padding: 2px 10px;
	background: #f7f7f7;
}

.btn-style {
	width: 100%;
	border: solid 0.5px #e6e6e6;
	border-radius: 3px;
	moz-border-radius: 3px;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	color: #696869;
	padding: 2px 10px;
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, #f1f1f1), color-stop(51%, #efefef), color-stop(100%, #f6f6f6));
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #efefef 51%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #efefef 51%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #efefef 51%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #efefef 51%, #f6f6f6 100%);
	background: linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #efefef 51%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
}

.LV_validation_message{
    /*
	font-weight:bold;
    margin:0 0 0 5px;
	*/
}

.LV_valid {
    color:#00CC00;
}
	
.LV_invalid {
    color:#CC0000;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}

.ui-tooltip {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  opacity:0.90;
}

.datos_de_ingreso {
	/*width: 60%;*/
	width: 100%;
	margin: 0px;
	
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(81%, #f1f1f1), color-stop(100%, #efefef), color-stop(100%, #f6f6f6));
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 81%, #efefef 100%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 81%, #efefef 100%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 81%, #efefef 100%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 81%, #efefef 100%, #f6f6f6 100%);
	background: linear-gradient(top, #ffffff 0%, #f1f1f1 81%, #efefef 100%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
}

.borde {
	border: solid 1px #f6f6f6;
	border-radius: 2px;
	moz-border-radius: 2px;
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
	height: 30px;
}
.btn-jlpc {
	display: inline-block;
	padding: 0px;
	margin-bottom: 0;
	/*font-size: 14px;*/
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: transparent;
	height: 20px;
	width: 100%;
}

.icono-jlpc {
	width: 25px;
}

#menu_toggle {
	position: relative;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 5px;
	border-radius: 10px 10px 10px 10px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
	background-image: url('../img/texturas/fabric_plaid/fabric_plaid.png');
}


.transparente {
	opacity : 0.5;
}
.no_transparente {
	opacity : 1.0;
}

#menu_nav {
	display: none;
	width: auto;
	margin: 0 auto;
}
#menu_toggle {
	display: block;
}

@media (min-width: 481px) {
	#menu_nav {
		display: block;
	}
	#menu_toggle {
		display: none;
	}
	#fijo {
		position: relative;
		/*position: fixed;*/
	}
	h1 {
		padding-top: 0px;
		/*padding-bottom: 15px;*/
	}
	h2 {
		/*padding-top: 0px;*/
		padding-bottom: 15px;
	}	
	.footer1 {
		text-align: right;
	}
	.footer2 {
		text-align: left;
	}
}


.borde2 {
	border: solid 1px #f6f6f6;
	border-radius: 2px;
	moz-border-radius: 2px;
	-webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
	-moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 1.0);
}
.celda {
	padding-left: 15px;
	padding-right: 15px;
}
.columna {
	background-color: #fc0;
	border:1px solid #333;
}
.columna2 {
	border:1px solid #333;
}

.centrar-div { 
	/*
	padding-top: 0%;
 	margin: 3em 25%;
	*/
 	margin: 0 auto;
 	text-align: center;
	
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hr, hr {
	text-align: center;
	border: 1px inset #eee; 
	height: 0.5px; 
	width: 100%; 
	line-height: 10%;
	
	margin-top: 8px;
	margin-bottom: 13px;
}

#txtResult {
	padding-top: 5px;
}

#tabla_resultados {
	padding-left: 15px;
	padding-right: 15px;
}

.box {
	border: solid 1px #e6e6e6;
	border-radius: 3px;
	moz-border-radius: 3px;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 1.0);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 1.0);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 1.0);

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(81%, #f1f1f1), color-stop(95%, #efefef), color-stop(100%, #f6f6f6));
	background: -moz-linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	background: linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
}

.tb {
	border: solid 1px #e6e6e6;
	border-radius: 10px;
	moz-border-radius: 10px;

	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.0);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.0);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.0);

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(81%, #f1f1f1), color-stop(95%, #efefef), color-stop(100%, #f6f6f6));
	background: -moz-linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	background: linear-gradient(top, #f5f5f5 0%, #f1f1f1 81%, #efefef 95%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
}

.tb .row:hover .col-xs-100 .col-s-050 {
	background-color: #F1F1F1;
}

/*.tb .row:nth-child(2n+1) {
	 background-color: #F5F5F5; 
}

.tb .col-xs-100 .col-s-050 {
	padding: 5px 50px;
}*/

.btn-style {
	border: solid 0.5px #e6e6e6;
	border-radius: 3px;
	moz-border-radius: 3px;
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
	color: #696869;
	/* padding: 2px 17px; */
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, #f1f1f1), color-stop(51%, #efefef), color-stop(100%, #f6f6f6));
	background: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #efefef 51%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #efefef 51%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #efefef 51%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #efefef 51%, #f6f6f6 100%);
	background: linear-gradient(top, #ffffff 0%, #f1f1f1 49%, #efefef 51%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
}

.desc {
	/* padding-bottom: 15px; */
	text-align: center;
}
.desc2 {
	/*margin-top: 35px;*/
	/*padding-bottom: 15px;*/
}
.padding15x {
	padding-left: 15px;
	padding-right: 15px;
}
.padding15xy {
	padding: 15px;
}

.padding-interior {
	padding: 15px;
}

.padding_interior2 {
	padding-left: 15px;
	padding-right: 15px;
}

.padding_top {
	padding-top: 15px;
}
.padding_bottom {
	padding-bottom: 15px;
}

.ui-dialog {
	margin: 25px;
	/*margin-left: 20px;
	margin-top: 20px;*/
}


@media (min-width: 481px) {
	
	.ui-dialog {
		margin: 75px;
	}
	
	.padding-interior {
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 15px;
		padding-top: 15px;
	}
	
	.padding_interior2 {
		padding-left: 25px;
		padding-right: 25px;
	}
	.padding_interior2 {
		padding-left: 25px;
		padding-right: 25px;
	}
	.padding_top {
		padding-top: 15px;
	}
	.padding_bottom {
		padding-bottom: 15px;
	}
}

@media (min-width: 768px) {
	
	.ui-dialog {
		margin: 100px;
	}

	.padding-interior {
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 20px;
		padding-top: 20px;
	}
	
	.padding_interior2 {
		padding-left: 30px;
		padding-right: 30px;
	}
	.padding_interior2 {
		padding-left: 30px;
		padding-right: 30px;
	}
	.padding_top {
		padding-top: 20px;
	}
	.padding_bottom {
		padding-bottom: 20px;
	}
}

@media (min-width: 1024px) {
	.padding-interior {
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 25px;
		padding-top: 25px;
	}
	
	.padding_interior2 {
		padding-left: 40px;
		padding-right: 40px;
	}
	.padding_interior2 {
		padding-left: 40px;
		padding-right: 40px;
	}
	.padding_top {
		padding-top: 25px;
	}
	.padding_bottom {
		padding-bottom: 25px;
	}
}

#guardar_evento {
	padding: 25px;
	/*margin: 25px;*/
}

.azul {
	color: blue;
	text-decoration: underline;
}

.nav-justified {
  width: 100%;
}
.nav-justified > li {
display: table-cell;
width: 1%;
}
.nav-justified > li > a {
margin-bottom: 0;
}



hr.vertically {
    width: 1px;
    height: 100%;
}

nav {
	cursor: pointer;
}

#contenido {
	/*background-color: blue;*/
	height: 80%;
	padding: 0;
	margin: 0;
}
#acerca_de {
	position: absolute;
	width: 100%;
	height: 100%;	
}

#acercaDe {
	position: relative;

	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}

#acerca {
	margin-bottom: 75px;
	padding-bottom: 75px;
}

.padding_acercaDe {
	padding: 15px;
}
.centrado {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	border-radius: 10px 10px 10px 10px;
	background: #e2e2e2;
	text-align: center;
	/*font-size: 12px;*/
	/*font-weight: bold;*/
}

.btn {
	margin-top: 10px;
	margin-bottom: 15px;
}
.btn-primary {
	margin-top: 20px;
	margin-bottom: 20px;
}
.btn-success .btn-warning .btn-info {
	margin-top: 5px;
	margin-bottom: 20px;
}
.text-sombra {
	/*text-shadow: 5px 5px 5px #aaa;*/
	text-shadow: 0.1em 0.1em 0.2em black;
}

.btn_margin15y {
	margin-top: 15px;
	margin-bottom: 45px;
}
.btn_sin_margin {
	margin-top: 0px;
	margin-bottom: 0px;
}
.btn_sin_marginXY {
	margin: 0px;
}
.btn_sin_paddingXY {
	padding-left: 0;
	padding-right: 0;
}
.tt {
	margin-top: 20px;
	margin-bottom: 25px;
}
.espacio, #errores {
	margin-bottom: 40px;
}


.sin-padding-izq {	
	/* Anchura de la zona de relleno izquierdo */
	padding-left: 0px;
}
.sin-padding-dcha {
	/* Anchura de la zona de relleno derecho */
	padding-right: 0px;
}

@media (max-width: 480px) {
	/* -xs- (Siempre con padding) */
	.padding {
		/* Anchura de la zona de relleno izquierdo */
		padding-left: 15px;
		/* Anchura de la zona de relleno derecho */
		padding-right: 15px;
	}
	.text-x {
		text-align: center;
	}
}

@media (max-width: 767px) {
	/* -s- () */
}

@media (min-width: 768px) {
	/* -m- */
	.sin-padding {
		/* Anchura de la zona de relleno izquierdo */
		padding-left: 0px;
		/* Anchura de la zona de relleno derecho */
		padding-right: 15px;
	}
	.text-l {
		text-align: left;
	}
	.text-c {
		text-align: center;
	}
	.padding_acercaDe {
		padding-top: 35px;
		padding-bottom: 35px;
		padding-left: 70px;
		padding-right: 70px;
	}
}

@media (max-width: 480px) {
  .visible-xxs {
    display: block !important;
  }
}
@media (min-width: 481px) {
  .visible-ss {
    display: none;
	}
}

.h5 {
	margin: 35px;
	padding: 35px;
}

a.text_del {
	color: red;
	color: IndianRed;
	font-weight:bold;
	text-decoration: none;
	padding-bottom: 10px;
	padding-top: 5px;
}

.padding_top5 {
	padding-top: 5px;
}
.ttHistorial {
	padding-top: 20px;
}

li#nav-menu {
	height: 100%;
}

span.right {
	position: absolute;
	right: 0;
	margin: 0 25px 5px 5px;
	 z-index: 199;
}

.menu_nav {
	padding-top: 3px;
	padding-bottom: 5px;
	width: auto;
	/*width: 100%;*/
	margin: 0 auto;
}

.dropdown-menu {
	font-size: medium;
}

.btn-lg {
	font-size: medium;
}

.no-close .ui-dialog-titlebar-close {
	display: none 
}
