compiled\
platforms-copy\
Herramientas\
otros\
pages\
js\plugins\otros\
cordova-js-src\
plugins\
spec\
Herramientas\
lib_jlpc\
otros\
src\
.git\
.pgbomit
*.txt
*.ffs_db
*.keystore
sync.ffs_db
spec.html
exec.js
confighelper.js
cordova.js
js\index.js
cordova_plugins.js
platform.js
README.md
Herramientas.7z
css\*copia.css
js\libs_jlpc\*copia.js
key\